/* Основные стили */

/*Вся страница*/
.wrapper {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 16.66666666666667% 83.33333333333333%;
  grid-template-rows: 22.2222% 77.7778%;
  overflow-x: hidden;
}

/* Сайд-бар */
.wrapper > div.sideBar {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 16.66666666666667%;
  grid-column: 1/2;
  grid-row: 1/3;
  background: #f3f4f9;
}

/* Заголовок */
.wrapper > div.header {
  position: fixed;
  left: 16.66666666666667%;
  top: 0px;
  width: 83.33333333333333%;
  height: 22.2222%;
  grid-column: 2/3;
  grid-row: 1/2;
  background: #FFFFFF;
  z-index: 100;
}

/* Купоны */
.wrapper > div.body {
  grid-column: 2/3;
  grid-row: 2/3;
  background: #fafafa;
}
