/* Стили для планшета */

/* Стили без нажатия выдвигающегося меню */
@media (max-width : 420px) {
  .wrapperMobile {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 3.75% 96.25%;
    grid-template-rows: 29.75352112676056% 70.24647887323944%;
  }
  /* Сайд-бар */
  .wrapperMobile > div.sideBar {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 3.75%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 1/3;
    background: #f3f4f9;
  }
  /* Заголовок */
  .wrapperMobile > div.header {
    position: fixed;
    left: 3.75%;
    top: 0px;
    width: 96.25%;
    height: 29.75352112676056%;
    grid-column: 2/3;
    grid-row: 1/2;
    background: #FFFFFF;
    z-index: 100;
  }
  /* Купоны */
  .wrapperMobile > div.body {
    width: 95%;
    height: 70.24647887323944%;
    grid-column: 2/3;
    grid-row: 2/3;
    background: #fafafa;
  }
}
