@media (max-width : 868px) {
  .wrapperTablet--active > div.sideBar > div.sideBarMarkup {
    display: grid;
    height: 40.13671875%;
    grid-template-columns: 26.016% 73.984%;
    grid-template-rows: 27.01% 14.598% 14.598% 14.598% 14.598% 14.598%;
  }
}


@media (max-width : 868px) {
/* Поле под кнопку выходщего меню */
  .wrapperTablet--active > div.expandMenuButton {
    z-index: 101;
    position: absolute;
    top: 0px;
    width: 46px;
    height: 106px;
    left: 32.00125%;
    background: url(./../icon/1.png) no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

@media (max-width : 868px) {
/* Кнопка выходящего меню */
  .wrapperTablet--active > div.expandMenuButton > div.burgerMenu {
    position: relative;
    top: 43px;
    left: 5px;
    width: 26px;
    height: 20px;
    background: url(./../icon/menu-exit.png) no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer;
  }
}


@media (max-width : 868px) {
/* Часть под основной логотип */
  .wrapperTablet--active > div.sideBar > div.sideBarMarkup > div.mainLogo {
    grid-column: 1/3;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 26.016% 73.984%;
  }
}

@media (max-width : 868px) {
/* Лого */
  .wrapperTablet--active > div.sideBar > div.sideBarMarkup > div.mainLogo > div.mainLogo__coupon {
    grid-column: 1/2;
    background: url(./../icon/coupon.png) no-repeat;
    background-position: center right 20%;
    background-size: 40%;
  }
}

@media (max-width : 868px) {
/* Надпись BECO */
  .wrapperTablet--active > div.sideBar > div.sideBarMarkup > div.mainLogo > div.mainLogo__beco {
    grid-column: 2/3;
    align-self: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }
}

/* Активные иконки категорий с черточкой*/

@media (max-width : 868px) {
  .wrapperTablet--active > div.sideBar > div.sideBarMarkup > div.miniLogo1--active {
    background: url(./../icon/catalog-active.png) no-repeat, url(./../icon/line.png) no-repeat;
    background-position: center right 20%, center left;
    cursor: pointer;
    grid-column: 1/2;
  }
}

@media (max-width : 868px) {
  .wrapperTablet--active > div.sideBar > div.sideBarMarkup > div.miniLogo2--active {
    background: url(./../icon/health-active.png) no-repeat, url(./../icon/line.png) no-repeat;
    background-position: center right 20%, center left;
    cursor: pointer;
    grid-column: 1/2;
  }
}

@media (max-width : 868px) {
  .wrapperTablet--active > div.sideBar > div.sideBarMarkup > div.miniLogo3--active {
    background: url(./../icon/beauty-active.png) no-repeat, url(./../icon/line.png) no-repeat;
    background-position: center right 20%, center left;
    cursor: pointer;
    grid-column: 1/2;
  }
}

@media (max-width : 868px) {
  .wrapperTablet--active > div.sideBar > div.sideBarMarkup > div.miniLogo4--active {
    background: url(./../icon/enjoy-active.png) no-repeat, url(./../icon/line.png) no-repeat;
    background-position: center right 20%, center left;
    cursor: pointer;
    grid-column: 1/2;
  }
}

@media (max-width : 868px) {
  .wrapperTablet--active > div.sideBar > div.sideBarMarkup > div.miniLogo5--active {
    background: url(./../icon/car-active.png) no-repeat, url(./../icon/line.png) no-repeat;
    background-position: center right 20%, center left;
    cursor: pointer;
    grid-column: 1/2;
  }
}
